#requirements.txt
streamlit
yt-dlp
google-generativeai
pinecone>=3.0.0
sentence-transformers
torch
tqdm
requests
numpy
langsmith
langchain
langchain-core
langchain-google-genai
langchain-pinecone
langchain-community
langchain_huggingface
youtube-transcript-api
protobuf
